section#aboutPage
  .aboutMe
    article.aboutMeContainer.card-front
      header.aboutHeader
      footer.aboutFooter
        a.goContact(href="") Contato
        a.goFlip Curriculo
    // card back
    .aboutMeContainer.card-back
      header.aboutHeader
        h2.animated Curriculo
      .backContent-wrap
        .backContent.animated
      footer.aboutFooter
        a.goContact(href="") Contato
        a.goFlip Voltar
