section#aboutPage
  .aboutMe
    article.aboutMeContainer.card-front
      header.aboutHeader
        h2.aboutHeaderText Front
      .middleFront adadadadadadadad <br><br>
      footer.aboutFooter
        a.goFlip Inställningar >
    // card back
    .aboutMeContainer.card-back
      header.aboutHeader
        h2.animated Inställningar
      .backContent-wrap
        .backCVoltarontent.animated
      footer.aboutFooter
        a.goFlip < Front
