.dictator
  .dictator_inputs
    .dictator__week
      input(type="text", placeholder="Vecka")
    .dictator__name
      input(type="text", placeholder="Namn")
    .dictator__button_wrapper
      a.dictator__button.js-dictator__button(href="#") Lägg till diktator
  .dictator_output
    ul.dictator_output__list
