.dictator
  .dictator_inputs
    .dictator__number
      input(type="text", placeholder="#")
    .dictator__name
      input(type="text", placeholder="Namn")
    .dictator__button_wrapper
      a.dictator__button.js-dictator__button(href="#") Lägg till diktator
