.random
  .random_inputs
    .random_inputs__minutes
      input.random_inputs__minutes--min(type="text", aria-label="Minuter minimum", placeholder="Minuter minimum")
    .random_inputs__minutes
      input.random_inputs__minutes--max(type="text", aria-label="Minuter maximum", placeholder="Minuter maximum")
    .random__button_wrapper
      a.random__button.js-random__button(href="#") Slumpa tid
  .random_clock
    .random_clock__display
      .clock
  .random_message
    h1.random_message__dispaly
