<link rel="import" href="bower_components/paper-checkbox/paper-checkbox.html">
<div class="row">
  <div class="large-6 columns">
    <div horizontal="" layout="">
      <paper-checkbox role="checkbox" tabindex="0" aria-checked="false" style="padding-right: 10px;"></paper-checkbox>
      <div vertical="" layout="">
        <div>Dictator: Test | Vecka 123</div>
      </div>
    </div>
    <div horizontal="" layout="" style="padding-top:15px;">
      <paper-checkbox role="checkbox" tabindex="0" aria-checked="false" style="padding-right: 10px;"></paper-checkbox>
      <div vertical="" layout="">
        <div>Dictator: Test | Vecka 123</div>
      </div>
    </div>
    <div horizontal="" layout="" style="padding-top:15px;">
      <paper-checkbox role="checkbox" tabindex="0" aria-checked="false" style="padding-right: 10px;"></paper-checkbox>
      <div vertical="" layout="">
        <div>Dictator: Test | Vecka 123</div>
      </div>
    </div>
    <div horizontal="" layout="" style="padding-top:15px;">
      <paper-checkbox role="checkbox" tabindex="0" aria-checked="false" style="padding-right: 10px;"></paper-checkbox>
      <div vertical="" layout="">
        <div>Dictator: Test | Vecka 123</div>
      </div>
    </div>
  </div>
</div>
